deb http://archive.ubuntu.com/ubuntu {{ zfsprep_ubuntu_release }} main universe
deb-src http://archive.ubuntu.com/ubuntu {{ zfsprep_ubuntu_release }} main universe

deb http://security.ubuntu.com/ubuntu {{ zfsprep_ubuntu_release }}-security main universe
deb-src http://security.ubuntu.com/ubuntu {{ zfsprep_ubuntu_release }}-security main universe

deb http://archive.ubuntu.com/ubuntu {{ zfsprep_ubuntu_release }}-updates main universe
deb-src http://archive.ubuntu.com/ubuntu {{ zfsprep_ubuntu_release }}-updates main universe
